@media only screen and (max-width: 450px) {

  .sticky-top {
    position: relative !important;
  }

  .stick {
    position: relative !important;
  }

}

#canvasImageToSlice {
  visibility: hidden;
}

#container-separador .separador {
  border-left: 1px dashed #4e4e4e;
  margin: auto;

  width: 1px;
  height: 90%;
  color: white;

}

#container-separador .arrow-up {
  margin: auto;
  width: 1px;
  height: 90%;
}

.img-slice {
  border-radius: 10px;
  padding: 5px;
}

.logo {
  width: 240px;
}

.img-slice-placeholder {
  width: 150px;
  background-color: #e9e9e99c;
  color: #7c7c7c;
  font-size: 1rem;
  height: 150px;
  text-align: center;
}

.img-slice-placeholder span {

  margin: auto auto;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}