
#canvasImageToSlice{
  visibility: hidden;
}


#container-separador > div{
  border-left:1px dashed #4e4e4e;
  margin:auto;
  
  width:1px;
  height: 90%;
  color:white;
  
}


.img-slice{
  border-radius: 10px;
  padding: 5px;
}

.logo{
  width: 240px;
}

